.footer {
    background-color: #eee;
    padding: 1rem;

    &__top {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &>span {
            font-size: 1.6rem;
            color: black;
        }

        // align-items: center;
    }

    &__copyright {
        margin-top: 1rem;
        text-align: center;
        font-size: 1.1rem;
    }

    &__socials {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: end;
        list-style: none;
    }

}