.socials {
    position: fixed;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    justify-content: space-around;
    top: 25%;
    width: fit-content;
    background-color: rgba(grey,1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 5;

    @include respond(tab-port) {
        padding: 0 .5rem;
    }

    @include respond(phone) {
        display: none;
    }

    &__container {
        text-decoration: none !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .4rem 0;
        
    }
    
    &__name {
        display: none;
        width: 8rem;
        font-size: 1.2rem;
        color: white;
    }


    &__icon {
        width: 30px;
        transition: all .3s;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}