// COLOR VARIABLES

// these are just place holders you can change them (theyre my colors from my portfolio)
$color-primary: #446e9b;
$color-blue-light:rgb(162, 197, 253);
$color-grey-light: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-dark: #252A34;

// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Caveat', cursive;
$font-size-primary: 1.5rem;
$font-size-secondary: 1.2rem;
$font-size-small: 1rem;
$font-size-mini: .8rem;